@use "sass:color";
@use "@styles/variables" as *;

.root {
  position: fixed;
  inset: 0;
  background: white;
  z-index: 1200;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.message {
  font-size: 0.95rem;
  color: var(--text);
  letter-spacing: 0.2px;
}
