/* ----------------------------------------------------
   SECTION ITEMS PANEL
---------------------------------------------------- */

.items {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 16px;
  overflow: hidden;
}

/* ----------------------------------------------------
     HEADER
  ---------------------------------------------------- */

.itemsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

/* ----------------------------------------------------
     EMPTY STATE
  ---------------------------------------------------- */

.empty {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* ----------------------------------------------------
     LIST
  ---------------------------------------------------- */

.itemsList {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  overflow-y: auto;
}
