.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* ---------------------------
   SEARCH
--------------------------- */

.search {
  margin-bottom: 1rem;
}

/* ---------------------------
   CATEGORY
--------------------------- */

.category {
  margin-bottom: 14px;
}

.categoryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  padding-bottom: 4px;
  margin-bottom: 6px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

/* ---------------------------
   LIST
--------------------------- */

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 4px 0;
  cursor: pointer;
}
