.tooltip {
  background: black;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  line-height: 1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  user-select: none;
  z-index: 1000;
}

.arrow {
  fill: black;
}
