.page {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
}
