.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.group {
  display: inline-flex;
  gap: 6px;
}

/* ========== AUTO (default) ========== */
/* nessuna regola extra */

/* ========== EQUAL ========== */
.equal {
  > div {
    flex: 1 1 0;
  }

  /* evita pill troppo strette */
  min-width: 0;
}

/* ========== STRETCH ========== */
.stretch {
  display: flex;
  width: 100%;

  > div {
    flex: 1 1 0;
  }
}
