.badge {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;

  padding: 2px 6px;
  border-radius: 3px;

  background-color: var(--badge-bg, var(--brand-primary));
  color: var(--badge-color, #fff);

  user-select: none;
}

/* Varianti */
.primary {
  --badge-bg: var(--brand-primary);
  --badge-color: #fff;
}

.secondary {
  --badge-bg: #e6ebf0;
  --badge-color: var(--text);
}

.success {
  --badge-bg: var(--success-500, #22c55e);
  --badge-color: #fff;
}

.danger {
  --badge-bg: var(--danger-500, #ef4444);
  --badge-color: #fff;
}

.warning {
  --badge-bg: var(--danger-500, #edb20e);
  --badge-color: #fff;
}

/* Positioning */
.absolute {
  pointer-events: none;
}
