.form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fields {
  display: grid;
  gap: 16px;
  padding-bottom: 16px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
